---
import { USER_NAME } from "../consts";
import { USER_SITE } from "../consts";
---

<footer class="relative footer gap-0 items-start card bg-base-100 shadow-xl p-8 items-center fade-in-up transition-colors">
  <aside class="grid-flow-col items-center">
    <p class="text-center mt-4 text-xl text-gray-800 font-bold">
      "几何是所有科学的基础。" — 欧几里得
    </p>
  </aside>
</footer>
